body {
  background: gold;
}

/*
 
T.O.C.

*/

/* nav grid styles */

.nav-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  .nav-grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
}

.text-section-grid {
  display: grid;
  grid-template-columns: auto 90% auto;
  .section-grid-item {
    padding: 75px 30px;
  }
}

.section-grid {
  display: grid;
  grid-template-columns: auto 90% auto;
  .section-grid-item {
    padding: 75px 30px;
  }
}

.footer-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  .footer-grid-item {
    padding: 5px 15px 2px;
  }
}

@media screen and (min-width: 650px) {
  .text-section-grid {
    display: grid;
    grid-template-columns: auto 50% auto;
    .section-grid-item {
      padding: 75px 30px;
    }
  }

  .section-grid {
    display: grid;
    grid-template-columns: auto 50% auto;
    .section-grid-item {
      padding: 75px 30px;
    }
  }
}
